body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1349px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1670 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1671 {
  position:absolute;
  left:1px;
  top:1px;
  width:1348px;
  height:59px;
}
#u1672 {
  position:absolute;
  left:2px;
  top:22px;
  width:1344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u1673 {
  position:absolute;
  left:30px;
  top:10px;
  width:40px;
  height:40px;
}
#u1674 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u1675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1675 {
  position:absolute;
  left:145px;
  top:4px;
  width:241px;
  height:32px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1676 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1677 {
  position:absolute;
  left:145px;
  top:29px;
  width:155px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1678 {
  position:absolute;
  left:0px;
  top:9px;
  width:155px;
  word-wrap:break-word;
}
#u1679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1349px;
  height:2px;
}
#u1679 {
  position:absolute;
  left:0px;
  top:89px;
  width:1348px;
  height:1px;
}
#u1680 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1344px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1681 {
  position:absolute;
  left:0px;
  top:92px;
  width:1348px;
  height:529px;
  overflow:hidden;
}
#u1681_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:529px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1681_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:530px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1682 {
  position:absolute;
  left:0px;
  top:0px;
  width:1348px;
  height:530px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  line-height:18px;
}
#u1683 {
  position:absolute;
  left:16px;
  top:257px;
  width:1316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1684 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u1685 {
  position:absolute;
  left:585px;
  top:500px;
  width:57px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u1686 {
  position:absolute;
  left:16px;
  top:6px;
  width:25px;
  white-space:nowrap;
}
#u1687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1687 {
  position:absolute;
  left:645px;
  top:500px;
  width:57px;
  height:28px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:left;
  line-height:18px;
}
#u1688 {
  position:absolute;
  left:16px;
  top:5px;
  width:25px;
  white-space:nowrap;
}
#u1689 {
  position:absolute;
  left:156px;
  top:42px;
  width:899px;
  height:65px;
}
#u1690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u1690 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1691 {
  position:absolute;
  left:2px;
  top:6px;
  width:170px;
  word-wrap:break-word;
}
#u1692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u1692 {
  position:absolute;
  left:174px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1693 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u1694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u1694 {
  position:absolute;
  left:354px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1695 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u1696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u1696 {
  position:absolute;
  left:534px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1697 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u1698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u1698 {
  position:absolute;
  left:714px;
  top:0px;
  width:180px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1699 {
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u1700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:30px;
}
#u1700 {
  position:absolute;
  left:0px;
  top:30px;
  width:174px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1701 {
  position:absolute;
  left:2px;
  top:6px;
  width:170px;
  word-wrap:break-word;
}
#u1702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u1702 {
  position:absolute;
  left:174px;
  top:30px;
  width:180px;
  height:30px;
}
#u1703 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u1704 {
  position:absolute;
  left:354px;
  top:30px;
  width:180px;
  height:30px;
}
#u1705 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u1706 {
  position:absolute;
  left:534px;
  top:30px;
  width:180px;
  height:30px;
}
#u1707 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u1708 {
  position:absolute;
  left:714px;
  top:30px;
  width:180px;
  height:30px;
}
#u1709 {
  position:absolute;
  left:2px;
  top:7px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u1710 {
  position:absolute;
  left:91px;
  top:42px;
  width:73px;
  height:68px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
  text-align:right;
  line-height:18px;
}
#u1711 {
  position:absolute;
  left:0px;
  top:4px;
  width:65px;
  white-space:nowrap;
}
#u1712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1712 {
  position:absolute;
  left:1060px;
  top:82px;
  width:20px;
  height:20px;
}
#u1713 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1714 {
  position:absolute;
  left:1090px;
  top:82px;
  width:20px;
  height:20px;
}
#u1715 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1716 {
  position:absolute;
  left:847px;
  top:81px;
  width:16px;
  height:16px;
}
#u1717 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#989898;
}
#u1718 {
  position:absolute;
  left:2px;
  top:60px;
  width:105px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#989898;
}
#u1718_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(46, 156, 232, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#989898;
}
#u1718.selected {
}
#u1719 {
  position:absolute;
  left:24px;
  top:4px;
  width:57px;
  white-space:nowrap;
}
#u1720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:23px;
}
#u1720 {
  position:absolute;
  left:449px;
  top:38px;
  width:264px;
  height:22px;
}
#u1721 {
  position:absolute;
  left:2px;
  top:3px;
  width:260px;
  word-wrap:break-word;
}
#u1722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:15px;
}
#u1722 {
  position:absolute;
  left:730px;
  top:42px;
  width:22px;
  height:15px;
}
#u1723 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:23px;
}
#u1724 {
  position:absolute;
  left:770px;
  top:38px;
  width:264px;
  height:22px;
}
#u1725 {
  position:absolute;
  left:2px;
  top:3px;
  width:260px;
  word-wrap:break-word;
}
#u1726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:15px;
}
#u1726 {
  position:absolute;
  left:1044px;
  top:42px;
  width:22px;
  height:15px;
}
#u1727 {
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:23px;
}
#u1728 {
  position:absolute;
  left:1084px;
  top:38px;
  width:264px;
  height:22px;
}
#u1729 {
  position:absolute;
  left:2px;
  top:3px;
  width:260px;
  word-wrap:break-word;
}
